/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* common style */
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}
/* Top palyers style */
/* main{
    display: flex;
    justify-content: center;
} */
.container{
    background: #FFFFFF;
    width: 870px;
    /* padding: 30px; */
}
.top-players{
    margin-bottom: 30px;
}
.container-tittle{
    color: #562EFF;
    font-size: 24px;
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px; 
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
}

/* Top Blogs Styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog{
    display: flex;
}
.thumnil img{
    width: 117px;
    height: 117px;
}
.blog-title{
    font-size: 20px;
    padding-left: 16px;
}
.author{
    font-size: 16px;
    padding-left: 16px;
}
.blog-info a{
    text-decoration: none;
    color: #562EFF;
}
/* ------------------
Lates Course Styles 
----------------------*/

.courses-title{
    color: #562EFF;
    font-size: 24px;
}
.course-banner img{
    width: 224px;
    height: 104px;
}
.fa-star{
    width: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}